
                <h2 class="text-center">Buyer Sign in</h2>
<hr>
                <div class="buyer-container">
                    <label for="phone">Phone numbers</label>
                    <div class="phone-input">
                        <select>
                            <option value="TZ">TZ</option>
                        </select>
                        <input type="text" placeholder="+255 (xxx) xxx xxx xxx" />
                    </div>

                    <div class="options">
                        <label></label>
                        <a href="#">Forgot password</a>
                    </div>

                    <button class="btn">Sign in</button>
                    <div class="signup">
                        Don’t have an account? <a href="auth/buyer-register">Sign up</a>
                    </div>
                   
                </div>


                
  <!-- Modal -->
  


  