<div class="seller-sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="TanFish Market" class="logo">
      <span class="brand-name" *ngIf="!isCollapsed">TanFish Market</span>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="ci" [class.ci-arrow-left]="!isCollapsed" [class.ci-arrow-right]="isCollapsed"></i>
    </button>
  </div>

  <div class="seller-info" *ngIf="!isCollapsed">
    <div class="avatar">
      
      <div class="welcome-avatar">
        <i class="ci-user"></i>
      </div>
    </div>
    <div class="info">
      <h6 class="name">{{sellerName}}</h6>
       <hr>
      <span style="font-size: 12px;">{{email}}</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a [routerLink]="item.link" routerLinkActive="active" class="nav-link">
          <i class="ci" [class]="item.icon"></i>
          <span class="link-text" *ngIf="!isCollapsed">{{item.title}}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <button class="logout-btn" (click)="logout()">
      <i class="ci-sign-out"></i>
      <span>Logout</span>
    </button>
  </div>
</div>

